.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    list-style: none;
    padding: 0;
    max-width: 1240px;
    margin: 10px auto;

}

.card {
    width: 200px;
    height: 130px;
    overflow: hidden;
}
